<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">


	<listeners>
		<listener class name="com.thc.cases.manageNursePageTest"/ >
		
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.thc.cases.manageNursePageTest"/>
      <class name="com.thc.cases.LoginPageTest"/>
      <class name="com.thc.cases.PatientHomePageTest"/>
      <class name="com.thc.cases.DoctorAddListPageTest"/>
      <class name="com.thc.cases.AdminHomePageTest"/>
      <class name="com.thc.cases.DoctorHomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
